<div class="container text-center">
  <div class="mb-3">
    <h3><i class="fas fa-book-open"></i>ジャンル新規登録</h3>
    <%= render 'form', genre: @genre, url: genres_path, submit: '登録' %>
  </div>

  <div class="mt-5">
    <h2>ジャンル一覧</h2>
    <div class="genre-header">
    <div class="d-flex justify-content-center">
    <table class="genre_info has_border">
      <tbody>
        <% @genres.each_with_index do |genre, index| %>
          <% if index % 10 == 0 %>
            <% if index != 0 %></tr><% end %> <!-- 前の行の終了 -->
            <tr> <!-- 新しい行の開始 -->
          <% end %>
          <td>
            <div>
              <p><%= link_to genre.name, genres_path(genre_id: genre.id), class: "underline" %></p>
              <% if genre.is_active? %>
                <p><span class="text-active">有効</span></p>
              <% else %>
                <p><span class="text-invalid">無効</span></p>
              <% end %>
              <p><%= link_to "編集", edit_genre_path(genre), class: "btn btn-success" %></p>
            </div>
          </td>
          <% if index % 10 == 9 || index == @genres.size - 1 %>
            </tr> <!-- 行の終了 -->
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class="mt-5"></div>
<%= paginate @genres %>

</div>