<div class="container d-flex justify-content-start" style="position: absolute; top: 80px; right: 250px;">
  <h3>
    <i class="fas fa-pen" style="vertical-align: middle;"></i>投稿
  </h3>
</div>

<div class="container d-flex justify-content-center mt-5">
  <%= render 'error', article: @article %>
  <%= render 'form', article: @article %>
</div>