<div class="container d-flex justify-content-center">
  <table class="table">
    <tbody>
      <tr>
        <% @airticles.each do |airticle| %>
          <td>
            <div class="airticle-item text-center">
                <%= image_tag airticle.get_image, size: "150x150" %>
                <%= link_to airticle_path(airticle.id), style: "color: black; text-decoration: none;" do %>
                <p>料理名：<%= airticle.title %></p>
              <% end %>
              <p>ユーザID：<%= airticle.user_id %></p>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>