<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="d-grid gap-2">
        <script src="https://kit.fontawesome.com/1084fc60d7.js" crossorigin="anonymous"></script>

        <h1 class="text-center">Welcome to Dish_Time <i class="fa-solid fa-utensils"></i></h1>
        <p class="text-center">In <span style="font-weight: bold;">dIsh_tIme</span>,</p>

        <p class="text-center">you can share and exchange your opinions, impressions, and emotions</p>

        <p class="text-center">about various books!</p>

        <div class="text-center" style="padding-bottom: 10px;">
          <!-- ボタンの下にスペース -->
          <button class="btn btn-success" type="button" style="color: white; width: 500px; height: 30px; background-color: green; border: none;">
            <%= link_to "Log in", user_session_path, style: "color: white;" %>
          </button>
        </div>

        <div class="text-center" style="padding-top: 10px;">
          <button class="btn btn-success" type="button" style="color: white; width: 500px; height: 30px; background-color: pink; border: none;">
            <%= link_to "Sign up", new_user_registration_path, style: "color: white;" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>